.directory {
	display: flex;
	flex-direction: column;
	width: 100%;
	color: var(--file-inactive);

	button {
		height: 24px;
		padding-left: 0px !important;
		line-height: 20px;
		width: 100%;
		font-size: 14px;
		font-weight: 300;
		text-align: start;
	}

	button:hover {
		color: var(--text);
	}
}

.folder-icon {
	fill: #94a3ad !important;
}

.contains-selected-file {
	color: var(--selected);
}

.indent {
	padding-left: 24px;
}

.files {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: -2px;
}
