<div class="directory">
	<button
		mat-button
		disableRipple="true"
		[contextMenu]="directoryContextMenu"
		(click)="toggleIsExpanded()"
		(middleclick)="toggleIsExpanded()"
	>
		<app-icon name="expand_more" class="expand-icon" *ngIf="isExpanded"></app-icon>
		<app-icon name="chevron_right" class="expand-icon" *ngIf="!isExpanded"></app-icon>
		<app-icon name="folder" class="folder-icon"></app-icon>
		<span class="directory-name">{{ directory.name }}</span>
	</button>

	<context-menu #directoryContextMenu>
		<ng-template contextMenuItem (execute)="workspaceDialogs.openCreateFileDialog(directory)">
			<span class="context-menu-item"
				><app-icon name="note_add" class="icon-light"></app-icon>Add file</span
			>
		</ng-template>
		<ng-template
			contextMenuItem
			(execute)="workspaceDialogs.openCreateDirectoryDialog(directory)"
		>
			<span class="context-menu-item"
				><app-icon name="create_new_folder" class="icon-light"></app-icon>Add
				directory</span
			>
		</ng-template>
		<ng-template contextMenuItem (execute)="rename()">
			<span class="context-menu-item"
				><app-icon name="edit" class="icon-light"></app-icon>Rename</span
			>
		</ng-template>
		<ng-template contextMenuItem (execute)="removeDirectoryIfConfirmed()">
			<span class="context-menu-item"
				><mat-icon class="icon-light">delete</mat-icon
				>{{ "Action.Delete" | translate }}</span
			>
		</ng-template>
	</context-menu>

	<div class="indent directory-content" *ngIf="isExpanded">
		<div class="files">
			<ng-container *ngFor="let file of files$ | async">
				<app-file [file]="file" [isSelected]="selectedFile?.path === file.path"></app-file>
			</ng-container>
		</div>

		<div class="directories">
			<ng-container *ngFor="let dir of directories$ | async">
				<app-directory [directory]="dir" [selectedFile]="selectedFile"></app-directory>
			</ng-container>
		</div>
	</div>
</div>
