<div class="explorer">
	<app-side-bar-header>
		<ng-container headerTitle>Explorer</ng-container>
		<ng-container headerMenu>
			<mat-menu #menu>
				<button mat-menu-item (click)="createNewProject()" data-test="newProjectBtn">
					{{ "Action.Custom.CreateNewProject" | translate }}
				</button>
				<button
					mat-menu-item
					(click)="saveAsNewProject()"
					data-test="save-as-new-project-btn"
				>
					{{ "Action.Custom.SaveAsNewProject" | translate }}
				</button>
				<button mat-menu-item (click)="exportToDisk()">
					{{ "Action.Export" | translate }}
				</button>
			</mat-menu>

			<button
				class="menu-btn"
				mat-icon-button
				[matMenuTriggerFor]="menu"
				disableRipple
				data-test="explorer-menu-btn"
			>
				<app-icon name="more_horiz" class="icon-light"></app-icon>
			</button>
		</ng-container>
	</app-side-bar-header>

	<div class="sections">
		<!-- Project (File Explorer) -->
		<app-side-bar-section class="h-full">
			<ng-container sectionTitle>{{ (workspace$ | async)?.projectName }}</ng-container>

			<ng-container sectionActions>
				<button
					class="mr-2 add-file-btn"
					mat-icon-button
					disableRipple
					matTooltip="New File"
					(click)="fileExplorerDialogs.openCreateFileDialog()"
					data-test="add-file-btn"
				>
					<div>
						<app-icon
							name="note_add"
							size="18"
							class="mt-[-16px] icon-light"
						></app-icon>
					</div>
				</button>
				<button
					class="add-directory-btn"
					mat-icon-button
					disableRipple
					matTooltip="New Folder"
					(click)="fileExplorerDialogs.openCreateDirectoryDialog()"
					data-test="add-directory-btn"
				>
					<div>
						<app-icon
							name="create_new_folder"
							size="18"
							class="mt-[-4px] icon-light"
						></app-icon>
					</div>
				</button>
			</ng-container>

			<ng-container sectionContent>
				<app-file-explorer></app-file-explorer>
			</ng-container>
		</app-side-bar-section>

		<!-- Settings -->
		<app-side-bar-section>
			<ng-container sectionTitle>{{ "Common.Settings" | translate }}</ng-container>
			<ng-container sectionContent>
				<app-workspace-settings></app-workspace-settings>
			</ng-container>
		</app-side-bar-section>
	</div>
</div>
