<div class="explorer">
	<app-side-bar-header>
		<ng-container headerTitle>Explorer</ng-container>
		<ng-container headerMenu>
			<mat-menu #menu>
				<button mat-menu-item>Save</button>
			</mat-menu>

			<button class="menu-btn" mat-icon-button [matMenuTriggerFor]="menu" disableRipple>
				<app-icon name="more_horiz" class="icon-light"></app-icon>
			</button>
		</ng-container>
	</app-side-bar-header>

	<div class="sections">
		<!-- Project (File Explorer) -->
		<app-side-bar-section class="h-full">
			<ng-container sectionTitle>{{ (workspace$ | async)?.projectName }}</ng-container>

			<ng-container sectionActions *ngIf="rootDirectory$ | async as rootDir">
				<button
					class="mr-2 add-file-btn"
					mat-icon-button
					disableRipple
					matTooltip="New File"
					(click)="workspaceDialogs.openCreateFileDialog(rootDir)"
				>
					<div>
						<app-icon
							name="note_add"
							size="18"
							class="mt-[-16px] icon-light"
						></app-icon>
					</div>
				</button>
				<button
					class="add-directory-btn"
					mat-icon-button
					disableRipple
					matTooltip="New Folder"
					(click)="workspaceDialogs.openCreateDirectoryDialog(rootDir)"
				>
					<div>
						<app-icon
							name="create_new_folder"
							size="18"
							class="mt-[-4px] icon-light"
						></app-icon>
					</div>
				</button>
			</ng-container>

			<ng-container sectionContent>
				<app-file-explorer></app-file-explorer>
			</ng-container>
		</app-side-bar-section>

		<!-- Settings -->
		<app-side-bar-section>
			<ng-container sectionTitle>{{ "Common.Settings" | translate }}</ng-container>
			<ng-container sectionContent>
				<app-workspace-settings></app-workspace-settings>
			</ng-container>
		</app-side-bar-section>
	</div>
</div>
