<div class="explorer">
	<app-side-bar-header>
		<ng-container headerTitle>Explorer</ng-container>
		<ng-container headerMenu>
			<mat-menu #menu>
				<button mat-menu-item>Save</button>
			</mat-menu>

			<button class="menu-btn" mat-icon-button [matMenuTriggerFor]="menu" disableRipple>
				<app-icon name="more_horiz" class="icon-light"></app-icon>
			</button>
		</ng-container>
	</app-side-bar-header>

	<div class="sections">
		<!-- Project (File Explorer) -->
		<app-side-bar-section class="top">
			<ng-container sectionTitle>{{ (workspace$ | async)?.projectName }}</ng-container>

			<ng-container sectionActions *ngIf="rootDirectory$ | async as rootDir">
				<button
					class="add-file-btn"
					mat-icon-button
					disableRipple
					(click)="workspaceDialogs.openCreateFileDialog(rootDir)"
				>
					<app-icon name="note_add" class="icon-light"></app-icon>
				</button>
				<button
					class="add-directory-btn"
					mat-icon-button
					disableRipple
					(click)="workspaceDialogs.openCreateDirectoryDialog(rootDir)"
				>
					<app-icon name="create_new_folder" class="icon-light"></app-icon>
				</button>
			</ng-container>

			<ng-container sectionContent>
				<app-file-explorer></app-file-explorer>
			</ng-container>
		</app-side-bar-section>

		<!-- Settings -->
		<app-side-bar-section>
			<ng-container sectionTitle>Settings</ng-container>
			<ng-container sectionContent>
				<app-workspace-settings></app-workspace-settings>
			</ng-container>
		</app-side-bar-section>
	</div>
</div>
