@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./custom-theme.scss";

.light {
	height: 100%;
	--primary: #757575;
	--accent: #b71c1c;
	--warn: red;

	--grey-light: rgb(230, 230, 230);
	--grey-normal: rgb(255, 255, 255);
	--grey-dark: rgb(41, 41, 41);

	--color-bg: #f1f1f1;
	--color-titlebar: white;
	--color-sidenav: white;
	--color-header: #f9f9f9;

	--card-bg: white;
	--table-bg: white;

	--text: rgb(97, 97, 97);
	--text-inverse: white;
	--text-light: rgb(97, 97, 97);

	--link-active: red;
	--link-active-bg: rgba(0, 0, 0, 0.1);

	// Editor
	--workspace-text: black;
	--workspace-text-light: rgba(0, 0, 0, 0.8);
	--activity-bar-bg: #2c2c2c;
	--activity-active: white;
	--activity-inactive: #848484;
	--file-explorer-bg: #f3f3f3;
	--sidebar-header-bg: #dedede;
	--sidebar-section-header-bg: #dedede;
	--editor-background: white;
	--file-active: rgb(0, 174, 197);
	--file-inactive: rgba(0, 0, 0, 0.808);
	--file-tab-inactive: #ececec;
	--file-tab-active: #dedede;
	--file-tab-bg: #f3f3f3;
	--selected: #90e5ff;
	--selected-bg: #e4e6f1;
	--file-hover-bg: #e8e8e8;
	--status-bar: #007acc;

	// VSCode
	--vs-blue: #006ab1;
	--vs-button-bg: #007acc;
	--vs-button-bg-hover: #0062a3;
	--text-very-light: rgb(111, 111, 111);
}

.dark {
	height: 100%;
	--primary: #757575;
	--accent: #b71c1c;
	--warn: red;

	--color-bg: rgb(15, 15, 15);
	--color-titlebar: #202020;
	--color-sidenav: #212121;
	--color-header: rgb(24, 24, 24);

	--card-bg: rgb(41, 41, 41);
	--table-bg: #292929;

	--text: rgb(204, 204, 204);
	--text-inverse: black;
	--text-light: rgba(255, 255, 255, 0.5);

	--link-active: white;
	--link-active-bg: rgba(255, 255, 255, 0.1);

	// Editor
	--activity-bar-bg: #333333;
	--activity-active: white;
	--activity-inactive: #848484;
	--file-explorer-bg: #252526;
	--sidebar-header-bg: #2c2c2c;
	--sidebar-section-header-bg: #2c2c2c;
	--editor-background: #1e1e1e;
	--file-active: #90e5ff;
	--file-inactive: rgba(255, 255, 255, 0.5);
	--file-tab-inactive: #2d2d2d;
	--file-tab-active: #1e1e1e;
	--file-tab-bg: #252526;
	--selected: #90e5ff;
	--selected-bg: #37373d;
	--file-hover-bg: #2e2e31;
	--status-bar: #007acc;

	// VSCode
	--vs-blue: #3794ff;
	--vs-button-bg: rgb(14, 99, 156);
	--vs-button-bg-hover: rgb(17, 119, 187);
	--text-very-light: rgb(187, 187, 187);
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Segoe WPC, Segoe UI, sans-serif !important; // TODO: Other OS fonts
}

web-ide-icon {
	fill: var(--text);
}

*::-webkit-scrollbar {
	width: 8px;
}

// *::-webkit-scrollbar-track {
//  background-color: var(--color-header);
// }

:root > *::-webkit-scrollbar-track {
	margin-top: var(--titlebar-height); // Start below Titlebar
}

*::-webkit-scrollbar-thumb {
	background-color: var(--text-light);
}

// Remove arrows of number-input
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

mat-card {
	background-color: var(--card-bg) !important;
}

table,
mat-paginator {
	background-color: var(--table-bg) !important;
}

.vs-button {
	background-color: var(--vs-button-bg);
	color: white;
	padding: 4px;
	text-overflow: ellipsis;
	white-space: nowrap;
	min-width: fit-content;
}

.vs-button-bg {
	background-color: var(--vs-button-bg);
}

.vs-button:hover {
	background-color: var(--vs-button-bg-hover);
}

.header-bg {
	background-color: var(--sidebar-header-bg);
}

.card {
	@apply flex flex-col p-2 rounded bg-editor-bg dark:hover:bg-gray-800 hover:bg-gray-200;
}

.mat-menu-panel,
.mat-dialog-container,
.mat-select-panel {
	background-color: var(--card-bg) !important;
}

.mat-drawer-backdrop {
	background-color: rgba(0, 0, 0, 0.6) !important;
}

.mat-tab-label-active {
	opacity: 1 !important;
}

.link-none {
	text-decoration: none;
	color: inherit;
}

.font-bold {
	font-weight: 500;
}

.icon-light {
	color: var(--text-light);
	fill: var(--text-light);
}

.text-light {
	color: var(--text-light);
}

.text-white {
	color: white;
	fill: white;
}

.text-selected {
	color: var(--selected);
}

.vs-blue {
	color: var(--vs-blue);
}

mat-form-field.mat-form-field-should-float label {
	font-size: 16px;
}

mat-form-field .mat-hint {
	font-size: 12px;
}

.mat-button-focus-overlay {
	background-color: transparent !important;
}

.toast-container .ngx-toastr {
	box-shadow: 0 0 12px var(--text-light) !important;
}

.ngx-contextmenu .dropdown-menu {
	background-color: var(--sidebar-header-bg);
	padding: 2px;
}
.ngx-contextmenu li {
	display: block;
	text-align: left;

	web-ide-icon {
		margin-right: 8px;
	}
}
.ngx-contextmenu li:first-child {
	border-top: none;
}
.ngx-contextmenu a {
	display: block;
	padding: 0.5em 1em;
}
.ngx-contextmenu a:hover {
	color: var(--selected);
}
