<div class="terminal">
	<div class="output" *ngIf="output$ | async as output; else noOutput">
		<div class="stdout" *ngIf="output.stdout?.length > 0">
			<pre>{{ output.stdout }}</pre>
		</div>

		<div class="text-red-700 stderr" *ngIf="output.stderr?.length > 0">
			<pre>{{ output.stderr }}</pre>
		</div>
	</div>

	<ng-template #noOutput>
		<div *ngIf="{ loading: terminalService.displayLoadingIndicator$ | async } as obs">
			<span *ngIf="!obs.loading">The output of your program will appear here ...</span>

			<div class="flex justify-center p-8" *ngIf="obs.loading">
				<mat-spinner mode="indeterminate"></mat-spinner>
			</div>
		</div>
	</ng-template>
</div>
