<div class="flex flex-col h-full max-h-full px-4 py-2">
	<!-- Input -->
	<div class="flex flex-col gap-2">
		<span class="text-xl">{{ "Domain.Input" | translate }}</span>

		<div class="w-full input-textarea-form-field">
			<mat-form-field class="w-full" appearance="fill">
				<textarea
					class="input-textarea"
					#input
					matInput
					rows="10"
					class="consolas"
					(change)="setInput(input.value)"
				></textarea>
			</mat-form-field>
		</div>
	</div>

	<!-- Output -->
	<div class="flex flex-col h-full gap-2 overflow-hidden">
		<span class="text-xl">{{ "Domain.Output" | translate }}</span>
		<div
			class="flex-1 h-full p-2 overflow-auto rounded bg-[#EAEAEA] dark:bg-[#3B3B3C] consolas"
		>
			<ng-container *ngIf="output$ | async as output; else noOutput">
				<div class="stdout" *ngIf="output.stdout?.length > 0">
					<pre>{{ output.stdout }}</pre>
				</div>

				<div class="text-red-700 stderr" *ngIf="output.stderr?.length > 0">
					<pre>{{ output.stderr }}</pre>
				</div>
			</ng-container>
		</div>
	</div>

	<ng-template #noOutput>
		<div *ngIf="{ loading: terminalService.displayLoadingIndicator$ | async } as obs">
			<span *ngIf="!obs.loading" class="text-light"
				>{{ "Text.Terminal.InnerText" | translate }} ...</span
			>

			<div class="flex justify-center p-8" *ngIf="obs.loading">
				<mat-spinner mode="indeterminate"></mat-spinner>
			</div>
		</div>
	</ng-template>
</div>
