<div
	class="file"
	data-cy="file"
	[class.selected]="isSelected"
	[class.notselected]="!isSelected"
	data-test="file"
>
	<button
		mat-button
		disableRipple="true"
		(click)="openFile()"
		(middleclick)="openFile()"
		[contextMenu]="fileContextMenu"
	>
		<span class="flex content-center justify-between w-full">
			<span class="flex gap-2">
				<app-file-icon [language]="file.name | programmingLanguage"></app-file-icon>
				<span>{{ file.name }}</span>
			</span>
			<span class="px-2"
				><app-icon
					*ngIf="file.hasUnsavedChanges"
					name="lens"
					size="8"
					class="text"
					data-test="unsavedChangesIndicator"
				></app-icon
			></span>
		</span>
	</button>

	<context-menu #fileContextMenu class="context-menu">
		<ng-template contextMenuItem (execute)="markAsEntryPoint()">
			<span class="context-menu-item" data-test="markAsEntryPointBtn"
				><app-icon name="play_arrow" class="icon-light"></app-icon
				>{{ "Action.Custom.MarkAsEntryPoint" | translate }}</span
			>
		</ng-template>
		<ng-template contextMenuItem (execute)="removeFileIfConfirmed()">
			<span class="context-menu-item" data-test="deleteBtn"
				><app-icon class="icon-light" name="delete"></app-icon
				>{{ "Action.Delete" | translate }}</span
			>
		</ng-template>
	</context-menu>
</div>
