<div class="workspace-settings-container">
	<mat-form-field>
		<mat-label>{{ "Common.Language" | translate }}</mat-label>
		<mat-select [value]="language" (selectionChange)="onLanguageChange($event)">
			<mat-option value="en">English</mat-option>
			<mat-option value="de">Deutsch</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Theme</mat-label>
		<mat-select [value]="theme$ | async" (selectionChange)="onThemeChange($event)">
			<mat-option value="light">light</mat-option>
			<mat-option value="dark">dark</mat-option>
		</mat-select>
	</mat-form-field>
</div>
