<div class="full-height">
	<div class="activity-bar">
		<app-activity-bar></app-activity-bar>
	</div>

	<as-split
		unit="percent"
		direction="horizontal"
		[gutterSize]="4"
		(dragEnd)="onDragEnd($any($event))"
	>
		<as-split-area
			[size]="layout.explorerWidth"
			[order]="1"
			*ngIf="(workspaceSettings.sideBarComponent$ | async) !== 'HIDDEN'"
		>
			<div class="side-bar">
				<app-side-bar></app-side-bar>
			</div>
		</as-split-area>

		<as-split-area [size]="layout.editorWidth" [order]="2" (dragEnd)="onDragEnd($any($event))">
			<div class="code-editor">
				<div class="tabbar">
					<kling-file-tabs></kling-file-tabs>
					<span class="actions">
						<app-run-code></app-run-code>
					</span>
				</div>
				<div class="w-full h-full">
					<kling-get-started *ngIf="!(selectedFile$ | async)"></kling-get-started>
					<app-code-editor #editor (onEditorInit)="handleEditorInit()"></app-code-editor>
				</div>
			</div>
		</as-split-area>

		<as-split-area
			[size]="layout.featurePanelWidth"
			[order]="3"
			(dragEnd)="onDragEnd($any($event))"
		>
			<div class="feature-panel">
				<app-feature-panel></app-feature-panel>
			</div>
		</as-split-area>
	</as-split>
</div>
