<div class="activity-bar-container">
	<div class="menu-btn-container">
		<button class="menu-btn" mat-icon-button disableRipple (click)="sidenav.open()">
			<app-icon name="menu"></app-icon>
		</button>
	</div>

	<div class="tabs">
		<div class="top" *ngIf="settings.sideBarComponent$ | async as selectedTab">
			<div class="tab" [class.selected]="selectedTab === 'EXPLORER'">
				<button
					mat-icon-button
					disableRipple
					(click)="onTabClick('EXPLORER')"
					[matTooltip]="'Explorer'"
				>
					<app-icon name="file_copy" class="icon-light"></app-icon>
				</button>
			</div>

			<div class="tab" [class.selected]="selectedTab === 'HISTORY'">
				<button
					mat-icon-button
					disableRipple
					(click)="onTabClick('HISTORY')"
					[matTooltip]="'History'"
				>
					<app-icon name="history" class="icon-light"></app-icon>
				</button>
			</div>
		</div>

		<div class="bottom">
			<div class="tab">
				<button mat-icon-button disableRipple [matTooltip]="'Help'">
					<app-icon name="help" class="icon-light"></app-icon>
				</button>
			</div>
		</div>
	</div>
</div>
