.activity-bar-container {
	display: flex;
	height: 100%;
	flex-direction: column;
	background-color: var(--activity-bar-bg);

	app-icon {
		fill: var(--activity-inactive);
	}
}

.menu-btn-container {
	background-color: var(--activity-bar-bg);

	.menu-btn {
		width: 100%;
		height: 36px;

		app-icon {
			margin-left: -4px;
		}
	}
}

.tabs {
	display: grid;
	margin-left: auto;
	margin-right: auto;
}

.tab {
	height: 48px;
	display: flex;
	align-items: center;
	padding: 0px;
	box-sizing: border-box;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;

	app-icon {
		margin-left: -4px;
	}
}

.selected {
	border-left: 2px solid var(--activity-active);

	app-icon {
		fill: var(--activity-active);
	}
}
