<div [class]="theme.theme$ | async">
	<!-- TOP BAR -->
	<ng-container *ngIf="showTitlebar">
		<mat-toolbar class="titlebar mat-elevation-z0">
			<div id="nav-left">
				<button mat-icon-button type="button" (click)="drawer.toggle()">
					<kling-icon name="menu"></kling-icon>
				</button>
				<ng-template *ngTemplateOutlet="uniLogo"></ng-template>
				{{ "Title.AppName" | translate }}
			</div>
			<div id="nav-right">
				<!-- <ng-container [ngSwitch]="isLoggedIn()">
				<button *ngSwitchCase="false" class="btn-link" mat-flat-button (click)="openLoginDialog()">Login</button>
				<ng-container *ngSwitchCase="true">
					<button class="btn-link" mat-flat-button (click)="snackbar.openErrorMessage()">{{getUsername()}}</button>
					<button class="btn-link" mat-flat-button (click)="logout()">Logout</button>
				</ng-container>
			</ng-container> -->

				<mat-menu #appMenu="matMenu">
					<div id="appMenu-container">
						<button mat-menu-item [matMenuTriggerFor]="langMenu">
							{{ "Misc.Language" | translate }}
						</button>
						<mat-menu #langMenu="matMenu">
							<button mat-menu-item (click)="setLanguage('en')">English</button>
							<button mat-menu-item (click)="setLanguage('de')">Deutsch</button>
						</mat-menu>

						<button mat-menu-item [matMenuTriggerFor]="themeMenu">Theme</button>
						<mat-menu #themeMenu="matMenu">
							<button mat-menu-item (click)="theme.setTheme('light')">
								{{ "Misc.Theme.Light" | translate }}
							</button>
							<button mat-menu-item (click)="theme.setTheme('dark')">
								{{ "Misc.Theme.Dark" | translate }}
							</button>
						</mat-menu>
					</div>
				</mat-menu>

				<button mat-icon-button [matMenuTriggerFor]="appMenu">
					<kling-icon name="more_vert"></kling-icon>
				</button>
			</div>
		</mat-toolbar>
	</ng-container>

	<!-- SIDE MENU -->
	<mat-sidenav-container class="sidenav-container">
		<mat-sidenav
			#drawer
			class="sidenav mat-elevation-z0"
			[ngClass]="showTitlebar ? '.show-titlebar' : 'hide-titlebar'"
			fixedInViewport
			opened="false"
			[mode]="(isHandset$ | async) ? 'over' : 'side'"
		>
			<!-- TOP BAR -->
			<ng-container *ngIf="!showTitlebar; else titlebarpadding">
				<mat-toolbar class="sidenav-titlebar">
					<div id="nav-left">
						<button mat-icon-button type="button" (click)="drawer.toggle()">
							<kling-icon name="menu"></kling-icon>
						</button>
						<ng-template *ngTemplateOutlet="uniLogo"></ng-template>
						{{ "Title.AppName" | translate }}
					</div>
					<div id="nav-right"></div>
				</mat-toolbar>
			</ng-container>
			<ng-template #titlebarpadding>
				<div class="titlebar-padding"></div>
			</ng-template>

			<mat-nav-list>
				<div id="sidenav-links">
					<a
						mat-list-item
						[routerLink]="['/']"
						routerLinkActive="router-link-active"
						[routerLinkActiveOptions]="{ exact: true }"
					>
						<kling-icon name="home"></kling-icon>{{ "Misc.Home" | translate }}
					</a>

					<a mat-list-item [routerLink]="['/ide']" routerLinkActive="router-link-active">
						<kling-icon name="code"></kling-icon>Programming
					</a>
				</div>

				<div id="sidenav-footer">
					<mat-divider></mat-divider>
					<a
						*ngIf="isDevelopment"
						mat-list-item
						[routerLink]="['/login']"
						routerLinkActive="router-link-active"
					>
						<kling-icon name="code"></kling-icon>Developer-Login
					</a>

					<a
						mat-list-item
						[routerLink]="['/privacy']"
						routerLinkActive="router-link-active"
					>
						<kling-icon name="security"></kling-icon>{{ "Misc.Privacy" | translate }}
					</a>

					<a
						mat-list-item
						[routerLink]="['/imprint']"
						routerLinkActive="router-link-active"
					>
						<kling-icon name="info"></kling-icon>{{ "Misc.Imprint" | translate }}
					</a>
				</div>
			</mat-nav-list>
		</mat-sidenav>

		<mat-sidenav-content>
			<!-- Add Content Here -->
			<div class="background-container">
				<div class="content-container" *ngIf="showTitlebar; else contentWithoutTopPadding">
					<router-outlet></router-outlet>
				</div>
				<ng-template #contentWithoutTopPadding>
					<router-outlet></router-outlet>
				</ng-template>
			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>

<ng-template #uniLogo>
	<svg id="logo" width="48" height="48" viewBox="-2.17491372 -2.17491372 76.99035344 76.84695144">
		<path
			d="M 18.269274,20.145 L 18.269274,41.98875 L 39.599274,29.63375 L 39.599274,20.14625 L 31.249274,20.145 L 31.249274,29.53875 L 26.555524,32.3325 L 26.556774,20.14625 L 18.269274,20.145 M 18.579274,44.8825 L 18.579274,54.4275 L 26.610524,54.4275 L 26.610524,45.06 L 52.839274,29.635 L 52.839274,20.1475 L 44.418024,20.1475 L 44.419274,29.5175 L 18.579274,44.8825 M 52.839274,54.4275 L 52.839274,32.3625 L 31.480524,44.8825 L 31.480524,54.4275 L 39.599274,54.4275 L 39.599274,45.00875 L 44.294274,42.215 L 44.293024,54.4275 L 52.839274,54.4275"
		/>
	</svg>
</ng-template>
