<div class="max-w-lg" data-test="create-project-dialog">
	<mat-card-title mat-dialog-title>{{ 'Title.CreateProject' | translate }}</mat-card-title>

	<div mat-dialog-content class="flex flex-col">
		<div class="mb-4 text-light" *ngIf="fromProject">
			{{ 'Text.Domain.SaveAsNewProject' | translate:{ projectName: fromProject } }}
		</div>

		<mat-form-field class="w-full">
			<mat-label>Name</mat-label>
			<input
				autofocus
				matInput
				[formControl]="projectNameControl"
				(keydown.enter)="onCreate(projectNameControl.value)"
				required
				data-test="project-name-input"
			/>
			<mat-error *ngIf="projectNameControl.errors?.['Error.ValueMissing']">
				{{ 'Error.ValueMissing' | translate }}
			</mat-error>
			<mat-error *ngIf="projectNameControl.errors?.['Error.AlreadyExists']">
				{{ 'Error.AlreadyExists' | translate }}
			</mat-error>
			<mat-error *ngIf="projectNameControl.errors?.['Error.ForbiddenCharacter']">
				{{ 'Error.ForbiddenCharacter' | translate: { forbiddenCharacters:
				forbiddenCharactersString } }}
			</mat-error>
		</mat-form-field>
	</div>

	<ul class="text-justify list-disc list-inside text-light">
		<li>Projects will always be stored in your browser's storage.</li>
		<li>
			Once you make changes to a file, an indicator will be displayed next to the file,
			informing you that this file contains unsaved changes. Press
			<kbd>Ctrl</kbd> + <kbd>S</kbd> to save these changes.
		</li>
		<li>
			If you want to continue your work on a project at a later point, you can find it in the
			"Recent" section of the "Welcome" screen.
		</li>
	</ul>

	<div mat-dialog-actions>
		<button
			mat-flat-button
			color="accent"
			data-test="create-btn"
			[disabled]="projectNameControl.invalid"
			(click)="onCreate(projectNameControl.value)"
		>
			{{ 'Action.Create' | translate }}
		</button>
		<button mat-button data-test="cancel-btn" matDialogClose>
			{{ 'Action.Cancel' | translate }}
		</button>
	</div>
</div>
