<mat-card class="create-problem-container">
	<mat-card-title>{{ "Title.CreateProblem" | translate }}</mat-card-title>

	<form class="create-problem-form" [formGroup]="form" autocomplete="off">
		<mat-form-field class="id-form-field">
			<mat-label>ID</mat-label>
			<input matInput formControlName="id" required />
			<mat-error>{{ "Error.ValueMissing" | translate }}</mat-error>
			<mat-hint>
				<div class="id-availability" *ngIf="idAvailability$ | async as availability">
					<ng-container [ngSwitch]="availability">
						<span *ngSwitchCase="'TRUE'" class="text-green">ID is available.</span>
						<span *ngSwitchCase="'FALSE'" class="text-red">ID is not available.</span>
						<span *ngSwitchCase="'PENDING'">Checking availability of ID ...</span>
					</ng-container>
				</div>
			</mat-hint>
		</mat-form-field>

		<mat-form-field>
			<mat-label>{{ "Property.Problem.Title" | translate }}</mat-label>
			<input matInput formControlName="title" required />
			<mat-error>{{ "Error.ValueMissing" | translate }}</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label class="radio-group-label">{{
				"Property.Problem.Difficulty" | translate
			}}</mat-label>
			<mat-select class="difficulty-radio-group" formControlName="difficulty">
				<mat-option [value]="difficultyEnum.EASY">{{
					"Enum.Difficulty.EASY" | translate
				}}</mat-option>
				<mat-option [value]="difficultyEnum.MEDIUM">{{
					"Enum.Difficulty.MEDIUM" | translate
				}}</mat-option>
				<mat-option [value]="difficultyEnum.HARD">{{
					"Enum.Difficulty.HARD" | translate
				}}</mat-option>
			</mat-select>
		</mat-form-field>

		<div formArrayName="categories" class="categories">
			<span class="categories-label">
				<mat-label>{{ "Property.Problem.Categories" | translate }}</mat-label>
				<button mat-icon-button (click)="addCategory()"><mat-icon>add</mat-icon></button>
			</span>

			<span
				class="category"
				*ngFor="let categoryCtrl of getCategories().controls; let i = index"
			>
				<mat-form-field>
					<input matInput [formControlName]="i" [matAutocomplete]="auto" />
					<mat-autocomplete #auto="matAutocomplete">
						<mat-option
							*ngFor="let category of selectableCategories"
							[value]="category"
						>
							{{ category }}
						</mat-option>
					</mat-autocomplete>
					<mat-error>{{ "Error.ValueMissing" | translate }}</mat-error>
				</mat-form-field>

				<button mat-icon-button (click)="removeCategory(i)">
					<mat-icon>clear</mat-icon>
				</button>
			</span>
		</div>

		<button
			mat-raised-button
			type="button"
			color="accent"
			[disabled]="form.invalid"
			(click)="onCreate()"
		>
			{{ "Action.Create" | translate }}
		</button>
	</form>
</mat-card>
