.dropzone {
	display: grid;
}

.upload-btn {
	background-color: red;
	color: white;
	border-radius: 64px;
	margin-left: auto;
	margin-right: auto;
}

.upload-icon {
	font-size: 32px;
	margin-left: -6px;
}

.drag-and-drop-text {
	margin-left: auto;
	margin-right: auto;
	color: var(--text-light);
	line-height: 4px;
}

.hovering {
	background-color: lightblue;
}
