<div class="section">
	<div class="section-header">
		<button class="section-header-left" disableRipple (click)="toggleIsExpanded()">
			<mat-icon class="expand-icon" *ngIf="isExpanded">expand_more</mat-icon>
			<mat-icon class="expand-icon" *ngIf="!isExpanded">chevron_right</mat-icon>
			<ng-content select="[sectionTitle]"></ng-content>
		</button>

		<div class="section-actions">
			<ng-content select="[sectionActions]"></ng-content>
		</div>
	</div>

	<div class="section-content" *ngIf="isExpanded">
		<ng-content select="[sectionContent]"></ng-content>
	</div>
</div>
